@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital@0;1&family=Montserrat&family=Ms+Madi&family=Mystery+Quest&family=Permanent+Marker&family=Rubik+Microbe&family=Titan+One&display=swap');
body {
  margin: 0;
  font-family: 'Rubik Microbe', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}